* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*.container-fluid{
  border: 2px red solid;
  width: 100%;
}*/
header{
  /*border: 2px red solid;*/
  width: 100%;
  overflow: hidden;
}
nav{
  /*border: 2px red solid;*/
  margin-top: 4%;
  margin-left: 5%;
}
nav ul{
  /*border: 2px green solid;*/
  padding: 20px;
}
nav ul .enlaces{
  /*border: 2px yellow solid;*/
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #000000;
}
.enlaces:hover{
  color: #7C7B7B;
}
#select{
  color: #7C7B7B;
}
.logo{
  width: 18%;
  margin-right: 5%;
}

.banner{
  width: 100%;
  height: 460px;
  background: url('../img/hola2.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.banner p{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 10%;
  color: #000;
}
.fondo{
  width: 100%;
  height: 460px;
  background-color: rgba(255,255,255,.3);
  overflow: hidden;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

/*.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}*/

.btn-danger.btn-outline {
    /*color: #fff;*/
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

/*.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,*/
.btn-danger.btn-outline:hover {
    color: #fff;
}
.buscando{
  width: 100%;
  /*background-color: #373737;*/
  /*height: 500px;*/
  overflow: hidden;
}
.buscando h1{
  margin-top: 5%;
  color: #373737;
  text-align: center;
}
.buscando2{
  width: 100%;
  background-color: #373737;
  /*height: 500px;*/
  overflow: hidden;
  color: #fff;
}
.buscando2 h1{
  margin-top: 5%;
  color: #fff;
  text-align: center;
}

.image{
  /*border: 2px red solid;*/
  height: 200px;
}
/*--------------FOOTER----------*/
footer{
  width: 100%;
  background:#000000;
  font-family: 'Montserrat', sans-serif;
  height: 100px;
  /*font-size: 20px;*/
  overflow: hidden;
  clear: both;

}
footer p{
  /*border: 2px red solid;*/
    width: 55%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin-top: 2.5%;
    color: #fff;
}

/*------------------nosotros----------*/

/*-------------------servicios---------------*/

/*-----------------contacto-----------------*/
